@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');
@import "primeicons/primeicons.css";

html {
  background: white;
}

body {
  margin: 0;
  padding: 0;
}
