@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');
@import "primeicons/primeicons.css";

html {
  background: #2b8cfc;
  font-family: "Smooch Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.drawer-menu {
  font-size: 1.3rem;

  --p-menu-background: transparent;
  --p-menu-border-color: transparent;
  --p-menu-list-gap: .5rem;
  --p-menu-item-icon-color: white;
}
