<div class="menu-mobile-icon">
  <p-button
    rounded
    severity="primary"
    icon="pi pi-bars" (click)="$isDrawerVisible.set(true)"/>
</div>

<div class="menu-logo">
  <h2 class="logo">JarVonDigital LLC</h2>
</div>

<div class="menu-links">
  @for (link of items; track link) {
    <p-button
      size="large"
      severity="primary"
      [icon]="link.icon"
      [routerLink]="link.routerLink"
      [label]="link.label"/>
  }
</div>

<div class="menu-end">
  <div class="search">
    <!--      <input pInputText placeholder="Have a question?" type="text">-->
    <p-button rounded severity="primary" icon="pi pi-search"></p-button>
    <p-button
      rounded
      severity="primary"
      icon="pi pi-lock">
    </p-button>
  </div>
</div>


<p-drawer
  [(visible)]="$isDrawerVisible"
  [blockScroll]="true"
  position="left">
  <p-menu
    [model]="items" styleClass="drawer-menu"></p-menu>

</p-drawer>
